<button class="flex-item" (click)="openAddDialog()"  mat-raised-button color="primary">
  Add
</button>
<div class="controls">
  <mat-form-field class="flex-item">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
  </mat-form-field>
  <mat-form-field class="flex-item">
    <mat-label>Sort by</mat-label>
    <mat-select [(value)]="sortSelected" (selectionChange)="sortTable()">
      <mat-option  *ngFor="let sortBy of allColumns" [value]="sortBy">{{sortBy | titlecase}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>


<div class="mat-elevation-z2">
  <table mat-table matSort class="full-width-table">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>-->
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Pic Column -->
    <ng-container matColumnDef="picture">
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header>Picture</th>-->
      <td mat-cell *matCellDef="let row">
        <img alt="placeholder" src="../../../assets/image-placeholder.jpg" height="50px"/></td>
    </ng-container>

    <!-- Name & Desc Column -->
    <ng-container matColumnDef="name">
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>-->
      <td mat-cell *matCellDef="let row">
        <div><b>
          {{row.name}}</b>
        </div>
        <div>
          {{row.description}}
        </div>
      </td>
    </ng-container>

    <!-- Button Column -->
    <ng-container matColumnDef="button">
      <!--      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>-->
      <td mat-cell *matCellDef="let row">
        <button (click)="openAddDialog()"  mat-button color="primary">Details</button>
      </td>
    </ng-container>

<!--    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="tableData?.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[10, 20, 40, 50]">
  </mat-paginator>
</div>
