<div class="controls">
  <button class="flex-item" (click)="openAddDialog()"  mat-raised-button color="primary">
    Add
  </button>
  <mat-form-field class="flex-item">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
  </mat-form-field>
  <mat-form-field class="flex-item">
    <mat-label>Sort by</mat-label>
    <mat-select>
      <mat-option value="option">Name</mat-option>
      <mat-option value="option">Id</mat-option>
      <mat-option value="option">Date</mat-option>
    </mat-select>
  </mat-form-field>
</div>


<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>-->
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Pic Column -->
    <ng-container matColumnDef="picture">
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header>Picture</th>-->
      <td mat-cell *matCellDef="let row"><img alt="placeholder" src="../../../assets/image-placeholder.jpg" height="40px"/></td>
    </ng-container>

    <!-- Name & Desc Column -->
    <ng-container matColumnDef="name">
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>-->
      <td mat-cell *matCellDef="let row">
        <div>
          {{row.name}}
        </div>
        <div>
          {{row.description}}Description...
        </div>
      </td>
    </ng-container>

    <!-- Button Column -->
    <ng-container matColumnDef="button">
      <!--      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>-->
      <td mat-cell *matCellDef="let row">Button</td>
    </ng-container>

<!--    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[10, 20, 40, 50]">
  </mat-paginator>
</div>
