.full-width-table {
  width: 100%;
}

.mat-elevation-z2
{
  border-radius: 4px;
}

.mat-column-button {
  width: 1%;
  padding-left: 15px;
  text-align: right;
  vertical-align: bottom;
}
.mat-column-picture {
  width: 1%;
  padding-top: 5px;
  padding-right: 15px;
}

.controls{
  padding: 8px 24px 0 24px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;



  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flex-item:nth-child(1) {

  order: 0;
  flex: 3 1 auto;
  align-self: auto;
}

.flex-item:nth-child(2) {
  order: 1;
  flex: 0 1 auto;
  align-self: auto;
  width: 100px;
}

